SECRET_KEY=change-me
ALGORITHM=HS256
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name
POSTGRES_HOST=db
POSTGRES_PORT=5432
OLLAMA_BASE_URL=http://host.docker.internal:11434
GOOGLE_API_KEY=change-me
LANGCHAIN_TRACING=true
LANGCHAIN_ENDPOINT="https://eu.api.smith.langchain.com"
LANGCHAIN_API_KEY=change-me
LANGCHAIN_PROJECT="habit-tracker-agent"
